.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111; 
}

.details-content {
  color: white;
  max-width: 800px; 
  margin: 20px; 
}

.name {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 10px; 
}

.details-content img {
  width: 100%;
  max-height: 400px; 
  object-fit: cover; 
  border-radius: 5px;
  margin-bottom: 20px; 
}

.details-container button {
  background-color: #fff;
  color: #111;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px; 
}

.details-container button:hover {
  background-color: #ddd; 
}
