.ordenar {
  
    width: 100%;
    max-width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 15px;
  }
  
  @media (min-width: 1024px) {
    
    .ordenar {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .body-background {
    background-image: url('https://img3.wallspic.com/crops/6/4/1/0/80146/80146-rueda-negro-dia-fila-estructura-3840x2160.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
  }
  
  .selects-contener {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

